<!DOCTYPE html>
<html>
  <head>
    <title>FreeCodeCamp URL Shortening microservice</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>
    <div class="container" id="main">
      <h1>
        FreeCodeCamp URL Shortener
      </h1>
      <p>
        Input a FULL url (including http:// or https://) you wish to shorten below. You will receive a JSON object back.
      </p>
      <form>
        <input type="text" maxlength="256" placeholder="&nbsp;shorten me!">
        <button type="submit">Submit</button>
      </form>
    </div>
    
    
    
    
  </body>
</html>
